.idea
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Manual build artifacts ###
*.class
MANIFEST.MF
myapp.jar

### Manual build example artifacts ###
step-2-manual-build/build/
step-2-manual-build/output.txt

### Allow build-output to be tracked ###
!**/build-output/
!**/build-output/**
!**/build-output/**/*.class
!**/build-output/**/MANIFEST.MF
!**/build-output/**/myapp.jar

### Allow build-logs to be tracked ###
!**/build-logs/
!**/build-logs/**
