services:
  app-service:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    ports:
      - "8081:8081"
  admin-service:
    build:
      context: .
      dockerfile: docker/Dockerfile.admin
    ports:
      - "8082:8082"
